In [1]:
import numpy as no
import pandas as pd
import matplotlib.pyplot as plt
import pickle

In [2]:
dataset=pd.read_csv(r'hiring.csv')

In [8]:
dataset

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [4]:
dataset.shape

(8, 4)

In [5]:
dataset.isnull().sum()

experience                    2
test_score(out of 10)         1
interview_score(out of 10)    0
salary($)                     0
dtype: int64

In [9]:
dataset['experience'].fillna(0,inplace=True)

In [10]:
dataset['test_score(out of 10)'].fillna(dataset['test_score(out of 10)'].mean(),inplace=True)

In [11]:
X=dataset.iloc[:,:3]

In [12]:
## Converting words to int value
def convert_to_int(word):
    word_dict={'one':1, 'two':2, 'three':3, 'four':4, 'five':5, 'six':6, 'seven':7, 'eight':8,
                'nine':9, 'ten':10, 'eleven':11, 'twelve':12, 'zero':0, 0: 0}
    return word_dict[word]

In [13]:
X['experience']=X['experience'].apply(lambda x : convert_to_int(x))

In [14]:
y=dataset.iloc[:,-1]

In [15]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()

In [16]:
regressor.fit(X,y)

LinearRegression()

In [17]:
# save model
pickle.dump(regressor,open('model2.pkl','wb'))

In [18]:
model=pickle.load(open('model2.pkl','rb'))
print(model.predict([[2, 9, 6]]))

[53290.89255945]